* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #080808;
}

/* header section */

header {
    width: 100%;
    height: 100vh;
    background: black;
    background: 
        url(images/homepage.PNG), 
        linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 79%);
    background-size: 
        200px, 
        cover;
    background-position: 
        80% 60%, 
        center;
    background-repeat: no-repeat;
}

.container {
    padding: 10px 10%;
    background-color: rgba(186, 186, 186, 0.5);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    width: 140px;
    padding: 0px 40px;
    border-radius: 50%;
}

/* nav bar text animation when hovering */

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #222222;
    position: relative;
    font-weight: 440; 
    transition: font-weight 0.5s ease;
}

nav ul li a:hover {
    font-weight: 700;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(180, 180, 180, 1) 100%);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* header main text styling */

.header-text {
    margin: 10% 5%;
    font-size: 30px;
    color: white;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(105, 105, 105, 1) 79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* about section */

main #about {
    background-color: rgba(105, 105, 105, 1);
    padding: 80px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1 {
    flex-basis: 40%;
}

#aboutPicture {
    width: 100%;
}

.col2 {
    flex-basis: 50%;
    color: white;
}

.col2 h1 {
    font-size: 60px;
    color: rgba(220, 220, 220, 1);
}

/* projects section */

#projects {
    background-color:#222222;
}

.timeline {
    position: relative;
    padding: 3% 0;
    margin: 0 auto;
    width: 60%;
    border-left: 10px solid #696969;
}

.timeline-item {
    position: relative;
    margin-bottom: 15%;
    padding-left: 5%;
}



.timeline-content {
    position: relative;
    padding: 10px 20px;
    border-radius: 8px;
    background: #f9f9f9;
    transition: transform 0.5s;
}

.timeline-content:hover {
    transform: translateY(-10px);
}

.timeline-subitem {
    position: relative;
    margin-left: 40px; /* Indent for the subitem */
    margin-top: 10px;
    transition: transform 0.5s;
}

.timeline-subitem:hover {
    transform: translateY(-5px);
}

.timeline-subitem::before {
    content: '';
    position: absolute;
    top: 20px; /* Vertical alignment of subitem line */
    left: -20px; /* Position of the horizontal line */
    width: 20px;
    height: 4px;
    background: #696969;
    border-radius: 8px;
}

.subitem-content {
    padding: 10px;
    border-radius: 6px;
    background: #e9e9e9;
    margin-left: 20px; /* Space for the subitem content */
}

#timeline-picture {
    margin-left: 40px;
    margin-top: 10px;
    max-width: 100%;
}

/* footer section */

.footer-content {
    height: 20vh;
    background: linear-gradient(135deg, rgba(105,105,105,1) 0%, rgba(0,0,0,1) 79%);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-content h1 {
    margin-top: 50px;
    margin-left: 10%;
    background: linear-gradient(135deg, rgba(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.footer-content a {
    text-decoration: none;
    color: white;
    margin-top: 50px;
    margin-right: 10%;
    background-color: #696969;
    border-radius: 8px;
    padding: 10px;
    white-space: nowrap;
    height: clamp(40px, 60px, 80px);
    width: clamp(80px, 160px, 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container {
    width: 100%;
    background-color: rgba(150, 150, 150, 1);
}

.contacts {
    display: flex;
}

.contacts a,
.contacts p {
    flex-grow: 1;
    text-align: center;
    color: black;
}

.contacts a:hover {
    background: rgba(0, 0, 0, 0.2);
}

i {
    margin: 5px 20px;
}

/* media queries */

/* small */

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {

    /* header */

    .header-text {
        font-size: 15px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: rgba(186, 186, 186, 0.8);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 5px;
        cursor: pointer;
        color: black;
    }

    /* about */

    #about {
        flex-direction: column;
    }

    /* footer */

    .footer-content {
        flex-direction: column;
        height: 30vh;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .footer-content a,
    .footer-content h1 {
        margin: 0;
    }

}